/* body, h1, h2, h3, p, div {
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  padding: 0.6rem;
}

.ant-card-body {
  /* background-color: lightblue; */
  padding: 10px !important;
}

.landing-plot {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(40, 59, 79, 0.5);
}

.card-row {
  display: flex;
  align-items: stretch;
}
.navbar-icon {
  margin-right: 10px;
}

.chat-input-wrapper {
  position: relative;
}

.send-button {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.chat-input-row {
  position: relative;
  width: 100%;
}

.chat-input-container {
  position: relative;
  width: 100%;
}

.chat-input {
  width: 100%;
  padding-right: 20px;
}

.customMenu .ant-menu-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.tab-link:hover {
  color: #b0ebf7 !important;
}

.sticky-header-table .ant-table-thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 2;  /* to ensure the header stays on top */
}
